*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 200px 1fr 50px;
  font-family: "Azeret Mono", monospace;
  background: linear-gradient(to right, #C9E4CA 0%, #C9E4CA 16.6%, #fff 16.6%, #fff 100%); }

header {
  grid-column: 1/13;
  grid-row: 1/2;
  padding: 38px 0;
  box-shadow: 0px 4px 4px rgba(0, 114, 181, 0.1);
  display: flex;
  justify-content: center;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 100; }
  header #header-box {
    display: grid;
    grid-template-columns: 150px 600px;
    grid-template-rows: repeat(2, 62px); }
    header #header-box img {
      grid-column: 1/2;
      grid-row: 1/3;
      padding-right: 1rem; }
    header #header-box h1 {
      font-size: 50px;
      font-weight: 400;
      color: #3B6064;
      grid-column: 2/3;
      margin-top: -10px;
      width: 650px; }
    header #header-box #searchbar {
      grid-column: 2/3;
      grid-row: 2/3;
      margin-top: 10px;
      width: 588px;
      display: flex;
      justify-content: space-between; }
      header #header-box #searchbar input {
        width: 450px;
        height: 50px;
        background: #C9E4CA;
        border: none;
        border-radius: 10px;
        font-size: 1.25rem;
        padding: 0 1.25rem;
        color: #3B6064; }
      header #header-box #searchbar input:focus {
        outline: none;
        box-shadow: 0 2px 5px #3B6064; }
      header #header-box #searchbar #search {
        width: 50px;
        height: 50px;
        background-color: #fff;
        border: none;
        color: #3B6064;
        font-size: 34px; }
        header #header-box #searchbar #search:hover {
          color: #87BBA2; }
        header #header-box #searchbar #search:active {
          color: #55828B; }
      header #header-box #searchbar #clear {
        width: 50px;
        height: 50px;
        background-color: #fff;
        border: none;
        color: #3B6064;
        font-size: 34px; }
        header #header-box #searchbar #clear:hover {
          color: #87BBA2; }
        header #header-box #searchbar #clear:active {
          color: #55828B; }
  header.small {
    padding: 13px 0;
    height: fit-content;
    justify-content: flex-start;
    box-shadow: 0px 5px 4px rgba(40, 108, 94, 0.5); }
    header.small #header-box {
      grid-template-columns: 0;
      grid-template-rows: 0;
      display: flex;
      justify-content: space-between;
      height: fit-content;
      margin: auto;
      width: 90%; }
      header.small #header-box img {
        height: 64px; }
      header.small #header-box h1 {
        font-size: 18px;
        margin: 0;
        padding-right: 1rem;
        width: 90px; }
      header.small #header-box #searchbar {
        grid-row: 0;
        grid-column: 0;
        height: fit-content;
        margin: auto; }

aside {
  grid-column: 1/3;
  grid-row: 2/3;
  background-color: #C9E4CA; }
  aside ul {
    width: 100%;
    margin: auto;
    margin-top: 1rem;
    list-style-type: none;
    text-align: center;
    height: 72vh;
    position: sticky;
    top: 91px;
    overflow-y: scroll; }
    aside ul li {
      padding: 0.5rem;
      color: #3B6064; }
      aside ul li:hover {
        text-decoration: underline;
        cursor: pointer; }

main {
  grid-column: 3/13;
  grid-row: 2/3;
  font-family: sans-serif;
  min-height: 80vh; }
  main #no-match {
    padding: 2rem 0;
    text-align: center;
    font-family: Goldman;
    font-size: 1.5rem;
    color: #3B6064;
    z-index: -100;
    position: fixed;
    width: 80%; }
  main article {
    width: 85%;
    margin: 0 auto;
    padding: 1.5rem 0;
    background-color: #fff; }
    main article dt {
      font-size: 1.5rem;
      color: #3B6064; }
    main article dd {
      margin-top: 1rem;
      text-align: justify; }
      main article dd img {
        float: left;
        padding-right: 1rem; }
  main span {
    z-index: -100;
    width: min-content;
    padding: 2rem; }

footer {
  grid-column: 1/13;
  grid-row: 3/4;
  background-color: #55828B;
  color: #C9E4CA;
  display: flex;
  justify-content: center;
  align-items: center; }

.hide {
  display: none; }

.show {
  display: block; }

@media (max-width: 760px) {
  body {
    background: #fff; }
    body header {
      justify-content: center;
      padding: 1rem 0;
      height: fit-content;
      z-index: 0; }
      body header::before {
        content: "\f0c9";
        font-family: "Font Awesome 5 Free";
        display: block;
        font-weight: 900;
        font-size: xx-large;
        color: #3B6064;
        position: absolute;
        top: 1rem;
        left: 1rem; }
      body header #header-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%; }
        body header #header-box img {
          height: 64px; }
        body header #header-box h1 {
          font-size: 18px;
          margin-top: 0;
          width: 90px; }
        body header #header-box #searchbar {
          width: 100%;
          max-width: 588px;
          height: min-content; }
          body header #header-box #searchbar input {
            width: 80%;
            min-width: 100px;
            max-width: 450px; }
    body main {
      grid-column: 1/13; }
    body aside {
      display: none;
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      background-color: rgba(37, 87, 57, 0.5); }
      body aside ul {
        width: 85%;
        min-height: 100%;
        background-color: #C9E4CA;
        margin: 0;
        padding: 2rem 1rem;
        position: static; }
      body aside::before {
        content: "\f00d";
        font-family: "Font Awesome 5 Free";
        display: block;
        font-weight: 900;
        font-size: xx-large;
        color: #3B6064;
        position: absolute;
        top: 1rem;
        left: 1rem;
        background-color: #C9E4CA; } }
