body {
    background-color: #ccc
}

header {
    position: sticky;
    top:0;
    background-color: aqua;
}

header #search-menu {
    background-color: red;

}

.hide {
    display: none;
}

p,
dt {
    font-weight: bold;
}

dl,
dd {
    font-size: 0.9rem;
}

dd {
    margin-bottom: 1em;
}
