body {
    background-color: #ccc
}

header {
    position: sticky;
    top:0;
    display: flex;
    padding: 2rem;
    background-color: #000;
}

header input {
    margin: 0 auto;
}

.hide {
    display: none;  
}

article {
    padding-bottom: 200px;
}

dt {
    font-weight: bold;
}

dl,
dd {
    font-size: 0.9rem;
}

dd {
    margin-bottom: 1em;
}
